@model dynamic

@{
    ViewBag.Title = "title";
}
<div class="container marketing">
    <div class="col">
        <button class="" style="background: #ff363f">TIN TỨC VÀ SỰ KIỆN </button>
    </div>
    <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7 order-md-2">
            <h3> Khuyến mãi thứ 2 đầu tiên của tháng</h3>
            <p>20/11/2019</p>
            <p class="lead">Tặng thêm một phần khi mua 2 phần</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="~/Content/image/comtam.jpg" style="width: 300px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h3> Khuyến mãi thứ 2 đầu tiên của tháng</h3>
            <p>20/11/2019</p>
            <p class="lead">Tặng thêm một phần khi mua 2 phần</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="~/Content/image/suontrung.jpg" style="width: 300px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h3> Khuyến mãi thứ 2 đầu tiên của tháng</h3>
            <p>20/11/2019</p>
            <p class="lead">Tặng thêm một phần khi mua 2 phần</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="~/Content/image/phobo.jpg" style="width: 300px;">
        </div>
    </div>

    <hr class="featurette-divider">


</div><!-- /.container -->
