<div class="col-md-12 col-md-offset-2 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
    <form class="form-horizontal " ng-submit="register()" style="color: black">
        <div class="form-group">
            <label class="col-sm-3 control-label">Ý kiến đánh giá của bạn</label>
            <div class="col-sm-9">
                <textarea type="text" name="comment_text" class="form-control" ng-model="Code" required="true" style="height: 150px;" ></textarea>
            </div>
        </div>
        @* <div class="form-group"> *@
        @*     <label class="col-sm-3 control-label">Tên</label> *@
        @*     <div class="col-sm-9"> *@
        @*         <input type="email" class="form-control" ng-model="Email" required="true" /> *@
        @*     </div> *@
        @* </div> *@
        @* <div class="form-group"> *@
        @*     <label class="col-sm-3 control-label">Email</label> *@
        @*     <div class="col-sm-9"> *@
        @*         <input type="password" class="form-control" ng-model="Password" required="true" /> *@
        @*     </div> *@
        @* </div> *@
        <br/>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary">Đánh giá</button>
            </div>
        </div>
    </form>
</div>