@model dynamic

@{
    ViewBag.Title = "Giới thiệu";
 
}

<div class="container marketing">
    <div class="col">
        <button class="" style="background: #ff363f">GIỚI THIỆU </button>
    </div>
    <div class="row featurette">
        <div class="col-md-12" style="color: black">
            <h5>Về chúng tôi</h5>
            <p>Mua hàng qua mạng từ lâu đã như là một thói quen, một cách sống của người Việt Nam. Cuộc sống ngày càng phát triển, nhu cầu ngày càng cao hơn, Thì viêc mua sắm đó như là một xu hướng tấc yếu. Thế nhưng, đôi khi thời gian của bạn eo hẹp, bạn không có nhiều thì giờ để có thể lang thang qua từng con đường, dạo quanh từng hàng quán hay những hàng hàng sang trọng để lựa chọn cho mình một bữa ăn ưng ý.</p>
<p>Nắm bắt được nhu cầu đó chúng tôi đã cho ra đời một trang thương mại điện tử nhằm đáp ứng được lượng lớn nhu cầu của khách hàng cho bữa ăn hằng ngày. Đó chính là Pa-tê ER Food . Đến với Pa-tê ER Food bạn chỉ cần một chiếc điện thoai hay một máy tính có kết nối internet , chỉ cần một Click bạn cũng có thể tìm mua cho mình một món ăn vừa rẻ và chất lượng. Không những thế, bạn sẽ tiết kiệm được một lượng lớn thời gian ra ngoài để có thể làm những công việc khác .</p>
        <p>Thời gian làm việc từ thứ 2 - thứ 6: 9h00 - 19h00. Nhằm giải đáp mọi thắc mắc của khách hàng mọi lúc mọi nơi.</p>
            <p>Khách hàng sẽ được nhận sản phẩm trong một thời gian sớm nhất, đảm bảo một bữa ăn ngon miệng và sức khỏe. Với phong cách làm việc nhanh chóng, kỷ luật và hiểu quả quý khách hàng hãy yên tâm đến với chúng tôi trong từng giao dịch. Chúng tôi tin rằng, luôn đem lại nhũng giá trị thật nhất trong từng món ăn cho khách hàng, một khi khách hàng đã tin tưởng và sử dụng dịch vụ của Pa-tê ER Food.</p>
            <p><strong><i>Yên tâm đến với Pa-tê ER Food để trở thành người tiêu dùng thông minh bạn nhé!</i></strong></p>
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12" style="color:black;">
            <h5>Lĩnh vực hoạt động</h5>
            <p>Chúng tôi tự tin khoe về những món ngon mà chúng tôi làm ra và tin sẽ đưa quý khách hàng đến với những bữa ăn tuyệt vời nhất.</p>
            <p>Hoạt động trên mọi mặt trận, trên mọi kinh tuyến mà bất cứ đâu bạn cũng yên tâm không phải lo cho dạ dày của mình bị đói .</p>
            <p>Dịch vụ tiện ích cho dân văn phòng, người bận rộn. <span><b>HÃY ĐẾN VỚI CHÚNG TÔI !</b></span></p>
                   </div>
    </div>

    <hr class="featurette-divider">

</div><!-- /.container -->

