@using Web_food.Models
@model List<Web_food.Models.CartItem>
@{
    List<CartItem> giohang = Session["giohang"] as List<CartItem>;
}
            <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
                <li class="order-cart"><i class="fa fa-shopping-cart">@Html.ActionLink("  Giỏ hàng","gio_hang","Home")
                    </i>
                      @if (giohang != null)
                      {
                          <a href="#"><span class="btn-qua" style="color: red"> @Model.Sum(m => m.SoLuong) sản phẩm : @Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.') VNĐ </span> </a>
                      }
                      else
                      {
                          <a href="#"><span class="btn-qua" style="color:red;"> 0 sản phẩm:0 VNĐ</span></a>
                      }
                    </li >
            </ul>

